

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}
		ul{
			margin:0;
			padding: 0;
		}
		ul li{
			list-style: none;
			overflow: hidden;
			height: 602px;
			position: absolute;
		}
		.parallax-background {
			height:652px;
			position: relative;
		}
		.architecture {
			background-image:url(https://dl.dropboxusercontent.com/u/83407479/architecture.png);
			background-size: cover; 

		}
		.chemistry {
			background-image:url(https://dl.dropboxusercontent.com/u/83407479/chemistry.png);
			background-size: cover;

		}
		.history {
			background-image:url(https://dl.dropboxusercontent.com/u/83407479/history.png);
			background-size: cover;

		}
		.liteature {
			background-image:url(https://dl.dropboxusercontent.com/u/83407479/liteature.png);
			background-size: cover;
		}

		.physics {
			background-image:url(https://dl.dropboxusercontent.com/u/83407479/physics.png);
			background-size: cover;

		}
		ul li .subcontent {

			position: absolute;
			top: 100px;
			left:100px;
			color: white;
			font-family:helvetica;

		}

		h1{
			font-size: 70px;
			margin-bottom: 0px;
		}
		
	</style>
	
	</style>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/stellar.js"></script>
		<script>
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 50
			});
		});
		</script>


	<ul class="parallax">
		<li>
			<div class="parallax-background architecture" data-stellar-background-ratio="0.5"></div>
			<div class="subcontent">
				<h1> ARCHITECTURE</h1>
			</div>
		</li>
		<li>
			<div class="parallax-background chemistry" data-stellar-background-ratio="0.5"></div>
			<div class="subcontent">
				<h1> CHEMISTRY</h1>
			</div>
		</li>
		<li>
			<div class="parallax-background history" data-stellar-background-ratio="0.5"></div>
			<div class="subcontent">
				<h1> HISTORY</h1>
			</div>
		</li>
		<li>
			<div class="parallax-background liteature" data-stellar-background-ratio="0.5"></div>
			<div class="subcontent">
				<h1> LITERATURE</h1>
			</div>
		</li>
		<li>
			<div class="parallax-background physics" data-stellar-background-ratio="0.5"></div>
			<div class="subcontent">
				<h1> PHYSICS</h1>
			</div>
		</li>
	</ul>


