// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.span3 { display:none;}
//.panel  { display:none; }
//.panel-heading { display:none;}
//.panel-body { display:none; }
//.panel-title { display:none;}